
<md-nav-list>
  <h3 md-subheader>Projects</h3>

  <!-- link router -->
  <md-list-item [routerLink]="['/projects']" (click)="onNavClick()">
    <md-icon md-list-icon svgIcon="projects"></md-icon>
    <span md-line>Project Homepage</span>
    <span md-line md-subheader>Check All Projects</span>
  </md-list-item>

  <h3 md-subheader>Calendar</h3>
  
  <md-list-item [routerLink]="['/tasklists']" (click)="onNavClick()">
      <md-icon md-list-icon svgIcon="month"></md-icon>
      <span md-line>Month View</span>
      <span md-line md-subheader>check tasks by month</span>
  </md-list-item>
  <md-list-item>
      <md-icon md-list-icon svgIcon="week"></md-icon>
      <span md-line>Week View</span>
      <span md-line md-subheader>check tasks by week</span>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-icon [svgIcon]="today" class="day"></md-icon>
        <span md-line>Day View</span>
        <span md-line md-subheader>check tasks by day</span>
      </md-list-item>
</md-nav-list>
