
<form>

  <md-card>
    <md-card-header>
      <md-card-title>Register: </md-card-title>
    </md-card-header>

    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="Your email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="Your name">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="input password">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="confirm password">
      </md-input-container>

      <!-- used for the avatar -->
      <md-grid-list cols="6">
        <!-- <md-grid-tile colspan="2">1</md-grid-tile> -->

        <!-- loop the whole arrays -->
        <md-grid-tile *ngFor="let item of items">
          <!-- svgIcon is the variable -->
          <md-icon class="avatar" [svgIcon]="item"></md-icon>
        </md-grid-tile>
        
          
      </md-grid-list>

      <button md-raised-button color="primary" type="button">Register</button>

    </md-card-content>
      <p>Have Account?<a href="">Login</a></p>
      <p>Forget Password? <a href="">Get Back</a></p>
    <md-card-actions>

    </md-card-actions>
  </md-card>

</form>