
<form>
  <h3 md-dialog-title>{{title}}</h3>
  <div md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="task content">
    </md-input-container>
    
    <md-radio-group>
      <md-radio-button *ngFor="let priority of priorities" [value]="priority.value">
        {{priority.label}}
      </md-radio-button>
    </md-radio-group>

    <md-input-container class="full-width">
      <input mdInput [mdDatepicker]="dueDatepicker" type="text" placeholder="task due date">
      <button type="button" mdSuffix [mdDatepickerToggle]="dueDatepicker"></button>
    </md-input-container>

    <md-datepicker #dueDatepicker></md-datepicker>

    <md-input-container class="full-width">
      <input mdInput [mdDatepicker]="remainderDatepicker" type="text" placeholder="task remainder date">
      <button type="button" mdSuffix [mdDatepickerToggle]="remainderDatepicker"></button>
    </md-input-container>

    <md-datepicker #remainderDatepicker></md-datepicker>

  </div>

  <div md-dialog-actions>
    <button type="button" md-raised-button color="primary" (click)="onClick()">Save</button>
    <button type="button" md-button md-dialog-close>Close</button>
  </div>
</form>